#wrap {
    /* width: 100%;
    height: 100vh; */
    background-color: rgb(219, 210, 203);
    display: flex;
    align-items: center;
}

#wrap main {
    width: 96%;
    height: 93%;
    margin: auto auto;
    border: 2px solid grey;
}

#content-all {
    display: grid;
    grid-template-columns: 4fr 3fr;
}

#content {
    margin-left: 60px;
    margin-top: -20px;
}

/* #content ul {
    display: grid;
    gap: 30px;
} */

#content ul li a, #content-side ul li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.info-area {
    margin: 0 0 25px 18px;
    font-size: 14px;
    color: rgb(97, 96, 96);
    display: grid;
    gap: 15px;
}

/* .info-area-hidden, .education-area-hidden, .career-hidden, .career-side-hidden {
    display: none;
} */

.info-area a {
    /* text-decoration: none; */
    color: rgb(97, 96, 96);
    cursor: pointer;
}

.education-area #vertical-line {
    border-left: 2px solid rgb(148, 147, 146);
    height: 17%;
    margin-left: 22px;
    position: absolute;
}

#education-total, #my-career-total {
    display: flex;
}

#my-education {
    padding-top: 10px;
    margin-left: 20px;
}

.my-education-text, .my-career-text {
    margin-left: 10px;
    font-size: 14px;
    color: rgb(97, 96, 96);
}

.my-education-status, .my-career-status {
    font-size: 14px;
    color: rgb(97, 96, 96);
    font-weight: 600;
}

.my-education-circle {
    font-size: 20px;
    margin-left: 18px;
    color: rgb(148, 147, 146);
}

.career-area #vertical-line {
    border-left: 2px solid rgb(148, 147, 146);
    height: 5%;
    margin-left: 22px;
    position: absolute;
}

.my-career-circle {
    font-size: 20px;
    margin-left: 18px;
    color: rgb(148, 147, 146);
}
