#wrap {
    width: 100vw;
    height: 100vh;
    background-color: rgb(219, 210, 203);
    display: flex;
    align-items: center;
}

#wrap main {
    width: 96%;
    height: 93%;
    margin: auto auto;
    border: 2px solid grey;
}

#content {
    margin-left: 60px;
}

#content ul li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.info-area {
    margin: 0 0 25px 18px;
    font-size: 14px;
    color: rgb(97, 96, 96);
    display: grid;
    gap: 15px;
}

.info-area-hidden, .education-area-hidden {
    display: none;
}

.info-area a {
    /* text-decoration: none; */
    color: rgb(97, 96, 96);
    cursor: pointer;
}

#vertical-line {
    border-left: 2px solid rgb(148, 147, 146);
    height: 20%;
    margin-left: 20px;
    position: absolute;
}

#my-education {
    padding-top: 8px;
}

.my-education-text {
    margin-left: 10px;
    font-size: 14px;
    color: rgb(97, 96, 96);
}

.my-education-status {
    font-size: 14px;
    color: rgb(97, 96, 96);
    font-weight: 600;
}

.my-education-circle {
    font-size: 20px;
    margin-left: 16px;
    color: rgb(148, 147, 146);
}



