body {
    margin: 0;
}

#wrap {
    width: 100vw;
    height: 100vh;
    background-color: rgb(216, 208, 202);
}

#wrap main {
    width: 95%;
    height: 95%;
    margin: auto auto;
    border: 2px solid grey;
}

#header {
    margin: 25px 0 20px 45px;
    height : 150px;
    display: grid;
    grid-template-columns: 1fr 2fr 5fr;
}

#image img {
    width: 100px;
    height: 140px;
}

#information a {
    height: 100%;
    display: flex;
    align-items: center;
}